$orange: #FB7413;
$white: #ffffff;
$light-grey: #959eacaf;
$medium-grey: #7C8798;
$dark-blue: #252D37;
$very-dark-blue: #121417;

$fsMobileReg: 14px;
$fsMobileTitle: 24px;
$fsDesktopReg: 15px;
$fsDesktopTitle: 28px;

$fwBold: 700;

$eleSizeWidthMobile: 325px;
$eleSizeHeightMobile: 360px;
$eleSizeWidthDesktop: 409px;
$eleSizeHeightDesktop: 409px;
